@model List<Category>
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <a href="/Product/List/">building Web apps with ASP.NET Core</a>
    <ul>
        @foreach (var item in Model)
        {
        <li>
            <h3>@item.CategoryName</h3>
            <a href="/Product/List/@item.ID">Tıkla listele</a>
        </li>
        }
    </ul>
</div>
