
@{
    ViewData["Title"] = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<form method="post" action="#">
    <div class="form-group">
        <input type="text" class="form-control" placeholder="Enter email" name="UserName">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>