
@{
    ViewData["Title"] = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container w-25">
    <div class="row">
        <div class="col p-5 text-light text-center" style=" background-color: #2cb8ef;">
            <form method="post" action="/User/Login">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Kullanıcı Adı" name="UserName">
                </div>
                <br />
                <div class="form-group">
                    <input type="password" class="form-control" placeholder="Şifre" name="Password">
                </div>
                <br />
                <button type="submit" class="btn btn-primary">Giriş Yap</button>
            </form>
        </div>
    </div>
</div>